.main {
  list-style: none;
  border-bottom: solid black 1px;
  padding: 0 0 20px 0;
}

.error {
  font-style: italic;
  color: firebrick;
  opacity: 0.8;
  margin: 5px 0;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 50%;
  font-size: 1.5rem;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}

.form_input {
  font-size: 1.5rem;
}
