.background {
  flex-grow: 1;
  background-image: url(/src/Assets/loginBackground.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.login {
  flex-grow: 1;
  font-family: "Indie Flower", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.helpers {
  display: flex;
  font-family: "Indie Flower", cursive;
  font-size: 1.3em;
  padding: 0 10px;
  text-align: center;
  align-items: baseline;
}

.helpers ul {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

.helpers ul li:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.form {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.form_input {
  border-radius: 5px;
  margin: 5px 0;
  padding: 2px;
  font-size: 1.5rem;
}

.form_btn {
  width: min-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  font-family: "Indie Flower", cursive;
  transition: 0.5s;
}

.form_btn:hover {
  transform: scale(1.3);
}

@media only screen and (max-width: 600px) {
  .login {
    justify-content: center;
  }

  .helpers {
    flex-direction: column;
    align-items: center;
  }
  .helpers ul {
    flex-wrap: wrap;
  }
  .helpers ul li {
    margin: 0 10px;
  }
}
